body {
    background-color: black;
}

/* Gemeinsame Klasse f端r beide Combo-Boxen */
.combo-box {
    color: hotpink;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    transform: translateX(-50%);
}

/* Individuelle Eigenschaften f端r die Time-Combo-Box */
.time-combo-box {
    width: 58px;
    margin-top: 30px;
}

/* Individuelle Eigenschaften f端r die Speed-Combo-Box */
.speed-combo-box {
    width: 64px;
    margin-top: 60px;
}


.time-combo-box::-webkit-scrollbar {
    width: 12px;
    /* Setze die Breite der Bildlaufleiste */
}

.time-combo-box::-webkit-scrollbar-thumb {
    background-color: hotpink;
    /* Setze die Farbe des Bildlaufleisten-Griffs */
}

.time-combo-box::-webkit-scrollbar-track {
    background-color: black;
    /* Setze die Farbe der Bildlaufleisten-Spur */
}

.clock {
    color: hotpink;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    /* Setze den oberen Rand des Uhr-Elements auf 100px */
}

/* Tooltip container */
.time-presets {
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
}

/* Hier die Klasse .speed-presets hinzuf端gen */
.speed-presets {
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
}

/* Tooltip text */
.time-presets .tooltiptext {
    width: 120px;
    color: hotpink;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 2s;
    margin-top: 7px;
}

.speed-presets .tooltiptext {
    width: 120px;
    color: hotpink;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 2s;
    margin-top: 37px;
}

/* Tooltip arrow */
.time-presets .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: dotted;
    border-color: hotpink transparent transparent;
}

.speed-presets .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: dotted;
    border-color: hotpink transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.time-presets:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.speed-presets:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
